@import "tailwindcss";
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: block !important;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: auto !important;  /* IE/Edge */
  scrollbar-width: auto !important;     /* Firefox */
}
.hanging-indent {
  /* Indent all lines by 2em (adjust as needed) */
  padding-left: 2em;
  /* Pull the first line back out by the same negative amount */
  text-indent: -2em;
  /* Add space between items */
  margin-bottom: 10px;
}
a {
  text-decoration: underline;
  color: #AD80B5 !important
}